<section id="section-about" class="clearfix about">

    <div class="about__main">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <h2 class="about__heading">Meet The Team</h2>
                    <h3 class="about__doctor">Lori J. Kerber, <span class="about__doctor--title">DDS</span></h3>
                    <h5 class="about__doctor-sub">Board-Certified Pediatric Dentist</h5>
                    <p class="about__copy">Dr. Kerber has been in practice in Kenosha since 1999. She received her
                        bachelor's degree in psychology from Cornell University. She received her dental degree from the
                        University of Iowa, and then completed a 2-year pediatric dental residency program at the
                        University of Tennessee-Memphis. Dr. Kerber is an Associate Fellow of World Clinical and Laser
                        Imaging Institute. She is board certified since 2008.</p>
                    <p class="about__copy">Dr. Kerber is a past President of the Kenosha County Dental Society. She has
                        served on the Headstart Health Advisory Committee for many years, and was honored in 2008 by the
                        Kenosha Unified Schools with their Business in Education Award.</p>
                    <p class="about__copy">Dr. Kerber has 3 children, who keep her very busy. She also volunteers at her
                        church with AWANA. Dr Kerber also enjoys horse racing and Cubs baseball.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="about--mobile-fix">
        <img src="/assets/kerber-team-mobile.jpg" alt="Doctor Kerber with a warm smile">
    </div>

</section>
{% include 'molecules/logo-slab.twig' %}
