<section id="section-insurance">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="title">No Insurance?</h2>
                <h3 class="sub-title">Our Patients Don't Need It!</h3>
                <h4 class="care-text">Get Your Preventive Care<br>For a Low Monthly Fee</h4>
                <ul>
                    <li class="list-item">
                        <i class="icon-ok-sign"></i>
                        <p>Exclusively for our uninsured patients</p>
                    </li>
                    <li class="list-item">
                        <i class="icon-ok-sign"></i>
                        <p>Make easy monthly payments for <br>your child’s preventive care</p>
                    </li>
                    <li class="list-item">
                        <i class="icon-ok-sign"></i>
                        <p>Save money on additional treatments</p>
                    </li>
                </ul>
                <a class="btn" href="{{ insuranceLink }}" target="_blank">Learn More</a>
            </div>
        </div>
    </div>
    <div class="mobile-insurance-fix">
        <img src="/assets/membership-mobile.jpg" alt="children love Kerber Dental">
    </div>
</section>
