<!-- Marquee Slider
============================================= -->
<div id="mobile-background" class="hidden-md hidden-lg">
    <a href="#" data-scrollto="#section-specials" data-offset="0">
        <img src="assets/slide/mobile-slide.jpg" style="width:100%;height:auto;" alt="{{ doctorName }}">
    </a>
</div>

<!-- Marquee Slider
============================================= -->
<section id="marquee-slider" class="hidden-xxs hidden-xs hidden-sm slider-parallax swiper_wrapper clearfix hidden-xs">
    <div class="swiper-container swiper-parent swiper-container-horizontal">
        <div class="swiper-wrapper">

            <!--Slide 1-->
            <!--=======-->
            <div class="swiper-slide swiper-slide-active slide1">
                <img src="/assets/slide/slide1.jpg" alt="Dr. Kerber and Family">
                <div class="container clearfix slide-content">
                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                            <h1 class="slide__title--meet">Meet</h1>
                            <h1 class="slide__title--kerber">Dr. Kerber</h1>
                            <h3 class="slide__copy">Board-certified, caring, and compassionate, discover dentistry your kids will look forward to!</h3>
                            <a href="#" class="btn" data-scrollto="#section-specials" data-offset="80">New Patient Offers</a>
                        </div>
                    </div>
                </div>
            </div>

            {#<!--Slide 3-->#}
            {#<!--=======-->#}
            <div class="swiper-slide slide2">
                <img src="/assets/slide/slide2.jpg" alt="Children Playing">
                <div class="container clearfix slide-content">
                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                            <h1 class="title">No Insurance?</h1>
                            <h2 class="sub-title">Our Patients Don’t Need It!</h2>
                            <h3 class="preventative-copy">Get your child’s preventive care<br>for a low monthly fee</h3>
                            <a href="#" class="btn" data-offset="80" data-scrollto="#section-insurance">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>

            {#<!--Slide 2-->#}
            {#<!--=======-->#}
            <div class="swiper-slide slide3">
                <img src="/assets/slide/slide3.jpg" alt="Happy mother and daughter with bright smiles">
                <div class="container clearfix slide-content">
                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                            <h1 class="title">Kids Love</h1>
                            <h1 class="title-2">Being Here</h1>
                            <h3 class="stars"><i class="icon-star3"></i>&nbsp;<i class="icon-star3"></i>&nbsp;<i class="icon-star3"></i>&nbsp;<i class="icon-star3"></i>&nbsp;<i class="icon-star3"></i></h3>
                            <h4 class="copy">“From the moment my five year old <br>daughter walked into the office, I could tell<br>she loved it.” &#8209;Alicia&nbsp;B.</h4>
                            <a href="#" class="btn" data-offset="80" data-scrollto="#section-reviews">Read Our Reviews</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{#{% include 'atoms/down-arrow.twig' %}#}
