<section id="section-specials">

    <div class="container clearfix">
        <div class="row">
            <div class="col-md-6">
                <div class="heading">
                    <h2 class="title">Special Offers</h2>
                    <h4 class="sub-title">Offers End June 20, 2017</h4>
                    <h6 class="sub-title-two">New Uninsured Patients Only</h6>
                </div>
            </div>

            <div class="offers col-md-6">
                <div class="offer-card">
                    <div class="offer-card__price-wrapper">
                        <h4 class="offer-card__price">69</h4>
                    </div>
                    <div class="offer-card__text-wrapper">
                        <h3 class="offer-card__title">Children’s&nbsp;New&nbsp;Patient  <br class="hidden-sm">Dental&nbsp;Exam</h3>
                        <h5 class="offer-card__copy">New patients save $216 on a comprehensive exam by the doctor, including needed digital  x-rays and a pre-orthodontic evaluation.</h5>
                        <p class="offer-card__codes">(D0150, D0272, D0330)</p>
                    </div>
                </div>
                <div class="offer-card">
                    <div class="offer-card__price-wrapper">
                        <h4 class="offer-card__price">45</h4>
                    </div>
                    <div class="offer-card__text-wrapper">
                        <h3 class="offer-card__title">Children’s&nbsp;Dental <br class="hidden-sm">Cleaning&nbsp;&&nbsp;Fluoride</h3>
                        <h5 class="offer-card__copy">New patients save $81 on a professional dental cleaning and topical fluoride application. A new patient dental exam is required.</h5>
                        <p class="offer-card__codes">(D1120)</p>
                    </div>
                </div>
                <div class="offer-card">
                    <div class="offer-card__price-wrapper">
                        <h4 class="offer-card__free">FREE</h4>
                    </div>
                    <div class="offer-card__text-wrapper">
                        <h3 class="offer-card__title">Children&nbsp;Under&nbsp;Two  <br class="hidden-sm">Are&nbsp;Free</h3>
                        <h5 class="offer-card__copy">Comprehensive exam by the doctor, including needed digital x-rays and a pre-orthodontic evaluation.</h5>
                        {#<p class="offer-card__codes"></p>#}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="specials-below hidden-lg hidden-md">
        <img src="/assets/offers-mobile.jpg" alt="Happy children with stuffed animals">
    </div>

</section>