<div id="section-tour">

    <div class="heading center">
        <h2>Office Tour</h2>
    </div>

    {% if container %}
    <div class="container">
        {% endif %}

        <div class="owl-carousel js-tour-carousel tour-carousel" >

            <img src="/assets/tour/01.jpg" alt="waiting room">
            <img src="/assets/tour/02.jpg" alt="lots to do in waiting room">
            <img src="/assets/tour/03.jpg" alt="themed for children">
            <img src="/assets/tour/04.jpg" alt="come visit us at Kerber Dental">
            <img src="/assets/tour/05.jpg" alt="enjoy comfort while you wait">
            <img src="/assets/tour/06.jpg" alt="entertainment for children during treatment">
            <img src="/assets/tour/07.jpg" alt="open child-themed treatment room">
            <img src="/assets/tour/08.jpg" alt="latest technology for treatment">

        </div>

        {% if container %}
    </div>
    {% endif %}

</div>