.section-logo-slab {

  .logo-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
    .logo {
      text-align: center;
      padding: 30px 0;
      width: 50%;
      @media (min-width: $width-sm) {
        width: 25%;
      }
    }
}