#marquee-slider {


  //.swiper-slide.slide1 {
  //  background-image: url('assets/slide1.jpg');
  //  background-position: 30% center;
  //}
  //.swiper-slide.slide2 {
  //  background-image: url('assets/slide3.jpg');
  //}
  //.swiper-slide.slide3 {
  //  background-image: url('assets/slide2.jpg');
  //  background-position: 30% center;
  //}

  .swiper-slide {
    > img {
      width: 100%;
    }
    .container {
      height: 100%;
    }
    .row {
      transform: translateY(-50%);
      top: 50%;
      position: relative;
    }
  }


  .slide1 {
    .slide__title--meet {
      color: #ec008c;
      text-shadow: 2px 2px 8px #ffffff;
      font-family: $ff-crimson;
      margin-bottom: 0;
      line-height: 0.8;
      font-weight: 400;
      @include font-size(110px, 80px, 65px, 40px, 40px);
    }
    .slide__title--kerber {
      color: #0A6B70;
      text-shadow: 2px 2px 8px rgba(255, 255, 255, 1);
      margin-bottom: 0;
      line-height: 1;
      font-family: $ff-dancing;
      @include font-size(120px,
              90px,
              80px,
              30px,
              30px);
      font-weight: 700;
    }
    .slide__copy {
      @include font-size(32px,
              30px,
              30px,
              30px,
              30px);
      color: black;
      margin-top: 5px;
      margin-bottom: 15px;
      line-height: 1;
      font-weight: 400;
    }
  }
  .slide2 {
    .title {
      color: #0A6B70;
      font-weight: 700;
      margin-bottom: 0;
      line-height: 1;
      text-shadow: 2px 2px 8px rgba(255, 255, 255, 1);
      font-family: $ff-dancing;
      @media screen and (min-width: $width-md - 1) { padding-top: 40px; }
    }
    .sub-title {
      font-family: $ff-crimson;
      color: #ec008c;
      @include font-size(45px, 38px, 30px, 30px, 30px);
    }
    .preventative-copy {
      font-weight: 400;
      line-height: 1;
    }
    .btn {
      @include lr-padding(75px, 65px, 20px, 20px, 20px);
    }
  }
  .slide3 {
    .title {
      color: #ec008c;
      font-weight: 700;
      margin-bottom: 0;
      line-height: 1;
      font-family: $ff-dancing;
      @media screen and (min-width: $width-md - 1) { padding-top: 40px; }
    }
    .title-2 {
      font-weight: 700;
      color: #0A6B70;
      margin-bottom: 10px;
      line-height: 1;
      font-family: $ff-dancing;
      padding-left: 30px;
    }
    .stars {
      line-height: 1.1;
      margin-bottom: 0;
    }
    .icon-star3 {
      text-shadow: none;
      color: #f7eb3f;
    }
    .copy {
      font-weight: 400;
      line-height: 1.2;
    }
    .btn {
      @include lr-padding(80px, 60px, 60px);
    }
  }
  .slide4 {
    .title {
      @include h1();
      color: #85B04B;
      margin-bottom: 0;
      @include font-size(72px, 60px, 55px, 65px, 65px);
    }
    .sub-title {
      color: #3A5464;
      font-family: $ff-lato;
      margin-bottom: 10px;
      @include font-size(40px,
              35px,
              35px,
              30px,
              30px);
    }
    .preventative-copy {
      color: #444444;
      font-family: $ff-lato;
      line-height: 1.3;
      font-weight: 400;
    }
    .btn {
      @include lr-padding(80px, 60px, 60px);
    }
  }

  .icon-star3 {
    color: $c-star;
  }

  .slide-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

}

#mobile-background {
  display: none;
  @media (max-width: $width-md) {
    display: block;
    position: relative;
  }
}

.swiper_wrapper {
  height: auto;
}